.header {
    width: 100%;
    background-color: var(--background);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 6px 14px black !important; */
}

.header__container {
}

.header__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header__social {

}

.header__social-phone {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-background);
}


.header__social-list {
    margin-block-start: 2px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.header__social-item {
    display: inline-flex;
}

.header__social-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--muted-foreground);
}

.header__social-icon {
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.header__contact {

}

.header__contact-email {
    display: block;
    font-size: 14px;
    color: var(--muted-foreground);
    margin-block-end: 4px;
    font-weight: 500;
}

.header__contact-link {
    font-size: 18px;
    color: var(--muted-foreground);
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: 500;
}

.header__tools {
    display: flex;
    gap: 10px;
}

.header__tools--bottom {
    gap: 26px;
}

.header__tools-item {
    display: inline-flex;
    height: 100%;
}

.header__search-btn {
    padding: 0;
    width: 54px;
    height: 41.6px;
    color: #fff;
    border-color: var(--secondary-background);
    background-color: var(--secondary-background);
    transition: border-color .2s, background-color .2s;
}

.header__search-btn:is(:hover, :active) {
    border-color: var(--secondary-background-hover);
    background-color: var(--secondary-background-hover);
}

.header__bottom {
    width: 100%;
    padding-block: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 37px;
}

.navbar__menu-link {
    position: relative;
    font-size: 16px;
    font-weight: 700;
}

.navbar__menu-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 2px;
    opacity: 0;
    background-color: var(--foreground);
    transition: width .3s, opacity .3s;
}

.navbar__menu-link:is(:hover, :active)::before {
    width: 100%;
    opacity: 1;
}

.header__tools-btn-verison {
    padding-inline: 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    border-color: transparent;
    background-color: transparent;
    transition: color .2s;
}

.header__tools-btn-verison:has(i) i {
    font-size: 18px;
    font-weight: 600;
    color: var(--muted-foreground);
}

.header__tools-btn-verison:is(:hover, :active),
.header__tools-btn-verison:has(i):is(:hover, :active) i {
    color: var(--primary-background);
}