* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--foreground);
    font-family: var(--font-primary);
    background-color: var(--background);
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    font-size: var(--text-base);
    font-family: var(--font-primary);
    background-color: var(--background);
}